services:
  ############### MICROSERVICES ###############
  status-backend:
    restart: unless-stopped
    container_name: status-backend
    image: statuscompliance/status-backend:develop
    # build:
    #   context: ./status-backend
    #   dockerfile: Dockerfile
    ports:
      - "3001:3001"
    healthcheck:
      test: wget -q --spider http://127.0.0.1:3001/api/user
      retries: 10
    depends_on:
      mysql:
        condition: service_healthy
      nodered:
        condition: service_healthy
    networks:
      - web_network
      - mysql_network
      - nodered_network
    volumes:
      - ./.env:/status-backend/.env
  # ================================================
  status-frontend:
    restart: unless-stopped
    container_name: status-frontend
    image: statuscompliance/status-frontend:PR.51
    ports:
      - "3000:80"
    networks:
      - web_network
  # ================================================
  nodered:
    restart: unless-stopped
    container_name: node-red-status
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "1880:1880"
    healthcheck:
      test: curl -f -s http://127.0.0.1:1880
      retries: 10
    volumes:
      - ./node-red-status:/data
      - ./settings.js:/data/settings.js
    command: node-red
    networks:
      - web_network
      - nodered_network
  # ================================================
  mysql:
    restart: unless-stopped
    image: mysql:8.3.0
    container_name: mysql
    networks:
      - mysql_network
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    healthcheck:
      test: mysqladmin ping -h localhost
      retries: 10
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
      - ./config/init.sql:/docker-entrypoint-initdb.d/init.sql
  # ================================================
  grafana:
    restart: unless-stopped
    image: grafana/grafana-oss:latest
    container_name: grafana
    user: root
    ports:
      - "3100:3000"
    networks:
      - mysql_network
    environment:
      - GF_SECURITY_ADMIN_USER=${USER_STATUS}
      - GF_SECURITY_ADMIN_PASSWORD=${PASS_STATUS}
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./config:/etc/grafana/provisioning/datasources
    depends_on:
      mysql:
        condition: service_healthy
  # ================================================
networks:
  mysql_network:
    driver: bridge
  web_network:
    driver: bridge
  nodered_network:
    driver: bridge

volumes:
  nodered:
    name: node-red-status
  mysql:
    name: mysql
