services:
  ############### MICROSERVICES ###############
  status-backend:
    restart: unless-stopped
    container_name: status-backend
    image: statuscompliance/status-backend
    # build: ../status-backend
    ports:
      - "3001:3001"
    healthcheck:
      test: wget -q --spider http://127.0.0.1:3001/api/user
      retries: 15
    environment:
      DB_HOST: mysql
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      NODE_RED_URL: ${NODE_RED_URL}
      GRAFANA_URL: ${GRAFANA_URL}
      GRAFANA_USER: ${GRAFANA_USER}
      GRAFANA_PASSWORD: ${GRAFANA_PASSWORD}
      GRAFANA_API_KEY: ${GRAFANA_API_KEY}
      API_PREFIX: ${API_PREFIX}
      DRAGONFLY_HOST: ${DRAGONFLY_HOST}
      DRAGONFLY_PORT: ${DRAGONFLY_PORT}
      JWT_SECRET: ${JWT_SECRET}
      REFRESH_JWT_SECRET: ${REFRESH_JWT_SECRET}
      GH_CLIENT_ID: ${GH_CLIENT_ID}
      GH_CLIENT_SECRET: ${GH_CLIENT_SECRET}
    depends_on:
      mysql:
        condition: service_healthy
      nodered:
        condition: service_healthy
      dragonfly:
        condition: service_healthy
    networks:
      - web_network
      - mysql_network
      - nodered_network
    volumes:
      - ./.env:/status-backend/.env
  # ================================================
  status-frontend:
    restart: unless-stopped
    container_name: status-frontend
    image: statuscompliance/status-frontend:PR.51
    ports:
      - "3000:80"
    networks:
      - web_network
  # ================================================
  nodered:
    restart: unless-stopped
    container_name: node-red-status
    build:
      context: .
      dockerfile: Dockerfile
    user: "0:0"
    ports:
      - "1880:1880"
    healthcheck:
      test: curl -f -s http://127.0.0.1:1880
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./node-red-status:/data
      - ./settings.js:/data/settings.js
    networks:
      - web_network
      - nodered_network
  # ================================================
  mysql:
    restart: unless-stopped
    image: mysql:8.3.0
    container_name: mysql
    networks:
      - mysql_network
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    healthcheck:
      test: mysqladmin ping -h localhost
      retries: 10
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
      - ./config/init.sql:/docker-entrypoint-initdb.d/init.sql
  # ================================================
  grafana:
    restart: unless-stopped
    image: grafana/grafana-oss:latest
    container_name: grafana
    user: root
    ports:
      - "3100:3000"
    networks:
      - mysql_network
    environment:
      - GF_SECURITY_ADMIN_USER=${USER_STATUS}
      - GF_SECURITY_ADMIN_PASSWORD=${PASS_STATUS}
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./config:/etc/grafana/provisioning/datasources
    depends_on:
      mysql:
        condition: service_healthy
  # ================================================
  dragonfly:
    restart: unless-stopped
    image: ghcr.io/dragonflydb/dragonfly:latest
    container_name: dragonfly
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
    ports:
      - '6379:6379'
    networks:
      - mysql_network
    volumes:
      - dragonfly-data:/data/dragonfly
  # ================================================
  director:
    container_name: director
    image: 'governify/director:develop'
    environment:
      - NODE_ENV=production
      - PORT=80
      - GOV_INFRASTRUCTURE=./infrastructure.yaml
    ports:
      - '5800:80'
    healthcheck:
      test: curl -f http://localhost:80/info
      interval: 30s
      timeout: 10s
      retries: 5
    mem_limit: 400m
    restart: 'unless-stopped'

networks:
  mysql_network:
    driver: bridge
  web_network:
    driver: bridge
  nodered_network:
    driver: bridge

volumes:
  dragonfly-data:
  nodered:
    name: node-red-status
  mysql:
    name: mysql
